body {
    font-family: Arial;
    background-color: rgb(233, 115, 174);
}

.content {
    width: 300px;
    padding: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


style{
    
}